<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/index.css">
<%- include('../partials/nav') %>
<section>
<form action="/games" method="POST">
  <label >
    Title:
    <input type="text" name ="title" autocomplete="off">
  </label>
</section>


<%- include('../partials/footer') %>