<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>


<form action="">
<label >
  Title:
  <input type="text" name ="title" autocomplete="off">
</label>
<button>Add Game</button>
</form>

<%- include('../partials/footer') %>